[id=infra3dSelect][type=checkbox] { 
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  
  
[id=infra3dSelect][type=checkbox]:checked + .sersa-radio {
     background-image: url('https://fwd-rhb.maps.arcgis.com/sharing/rest/content/items/6f95dfb34c10477595bb1c1cb47eb0a8/data');
}

.sersa-radio {
      width: 16px;
      height: 16px;
      background-image: url('https://fwd-rhb.maps.arcgis.com/sharing/rest/content/items/02f3cc0e34c74b5e8ac71bc09bca7543/data');
      background-size: cover;
      cursor: pointer;
  }

  .layerWidgetMouseOver {
    position: relative;
    display: inline-block;
}

.layerWidgetMouseOver-content {
    display: none;
    position: absolute;
    left: 25px;
    top: -5px;
    background-color: #F5F5F5;
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
    padding: 4px 6px;
    z-index: 1;

}

.layerWidgetMouseOver:hover .layerWidgetMouseOver-content {
    display: block;
    width: 28rem;
}