.info-icon {
    width: 18px;
    height: 18px;
    background-image: url('https://fwd-rhb.maps.arcgis.com/sharing/rest/content/items/599ffa2364d340adaff6317393607a8b/data');
    background-size: cover;
    cursor: pointer;
}