.info-icon {
    width: 18px;
    height: 18px;
    background-image: url('https://rhomberg-sersa.maps.arcgis.com/sharing/rest/content/items/41aea1226d4b4abfad7b47c89d7d5789/data');
    background-size: cover;
    cursor: pointer;
}